img {


}

button {
	margin: .5%;
	color:white;
	background-color: black;
	border-color: red;
}

input{
	margin: 2%;
}

.noPadding{
	padding: 0px;
}

label{
	margin-left: 2%;
	color:black;
	font-size: 140%;
	margin-top: 3%;
}

.panel{
	max-width: 40%;
	float: left;
	margin: 1%;


}

#fighter-view{
	margin-left: 10%;
	
}

#header{
	background-color: red;
}

#title{
	background-color: black;
	color: black;
}



.addBtn{
	color:grey;
	background-color: white;
	border-color: black;

}