img {
	

}

button {
	margin: .5%;
}

input{
	margin: 2%;
}

.noPadding{
	padding: 0px;
}

label{
	margin-left: 2%;
}

.panel{
	max-width: 40%;
	float: left;
	margin: 1%;

}

#fighter-view{
	margin-left: 10%;
}